<!-- Page Content -->
<div class="container">
  
    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Highlander
          <small>by <a href="#">For Honor Cheatsheet</a>
                      </small>
        </h1>
        <ol class="breadcrumb">
          <li><a href="index.html">Home</a>
          </li>
          <li class="active">Highlander</li>
        </ol>
      </div>
    </div>
    <!-- /.row -->
  
    <!-- Content Row -->
    <div class="row">
  
      <!-- Blog Post Content Column -->
      <div class="col-lg-12">
  
        <!-- Blog Post -->
  
        <hr>
  
        <!-- Date/Time -->
        <p><i class="fa fa-clock-o"></i> Updated on 8/15/2017</p>
  
        <hr>
  
        <!-- Preview Image -->
        <img class="img-responsive" src="http://placehold.it/350x150" alt="Highlander Portrait 1">
  
        <hr>
  
        <h2>Highlander Moveset</h2>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <table class="table table-condensed">
          <tr>
            <th>Hero Specific</th>
          </tr>
          <tr>
            <td>
              <span class="movesetTitle">Renown</span><br>
              <span class="movesetDesc">
                Renown is balanced across activities.
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <span class="movesetTitle"><i class="fa fa-hand-rock-o fa-5x"></i>Revenge Mode</span><br>
              <span class="movesetDesc">
                Boosts Damage and Health.  All Attacks are Uninterruptible.<br>Parry and Throws knock enemies down.<br>Attacks are Auto-Parried on activation.
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <span class="movesetTitle">
                Offensive Form and Defensive Form
              </span><br>
              <span class="movesetDesc">
                Highlander's Guard Mode has two forms: <br>
                Defensive Form has access to Block, Parry and Guardbreak. <br>
                Offensive Form has access to Unblockable Attacks
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <span class="movesetTitle">
                Entering Offensive Form
              </span><br>
              <span class="movesetDesc">
                Hold RT to enter Offensive Form. Continue to hold RT to remain in Offensive Form.
              </span>
            </td>
          </tr>        
          <tr>
            <td>
              <span class="movesetTitle">
                Offensive Form Unblockable Heavy
              </span><br>
              <span class="movesetDesc">
                When in Offensive Form, Release RT for an Unblockable Heavy Attack.  After this attack you will return to Defensive Form.
              </span>
            </td>
          </tr>   
          <tr>
            <td>
              <span class="movesetTitle">
                Fast Flow to Offensive Form
              </span><br>
              <span class="movesetDesc">
                Hold RT after a Parry, Guardbreak Throw, or after any Attack other than Defensive Form's Chain Finisher.
              </span>
            </td>
          </tr>        
          <tr>
            <td>
              <span class="movesetTitle">
                Exiting Offensive Form 
              </span><br>
              <span class="movesetDesc">
                Press B to return to Defensive Form.  Suffering a hit will also cause you to return to Defensive Form.  After
                an Attack, you return to Defensive Form if you do not hold RT.
              </span>
            </td>
          </tr>    
          <tr>
            <td>
              <span class="movesetTitle">
                Offensive Form Enhanced Light Attack 
              </span><br>
              <span class="movesetDesc">
                Offensive Form light is not interrupted when blocked.  Offensive Form Light can be used to Cancel an Offensive Form Unblockable Heavy.
              </span>
            </td>
          </tr>                           
          <tr>
            <td>
              <span class="movesetTitle">
                Defensive Form Heavy Attacks
              </span><br>
              <span class="movesetDesc">
                Heavy Attacks have Super Armor.
              </span>
            </td>
          </tr>          
          <tr>
            <td>
              <span class="movesetTitle">
                Defensive Form Light Openers
              </span><br>
              <span class="movesetDesc">
                Light Opener Attacks have Superior Block.
              </span>
            </td>
          </tr>          
          <tr>
            <td>
              <span class="movesetTitle">
                Zone Attack 
              </span><br>
              <span class="movesetDesc">
                Cancel Zone Attack after the first or second Attack with B.  Cannot fast flow to Offensive Form.
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <span class="movesetTitle">
                Sprint Attack 
              </span><br>
              <span class="movesetDesc">
                Cancel Sprint Attack after the first Attack with B.  Cannot fast flow to Offensive Form.
              </span>
            </td>
          </tr> 
          <tr>
            <td>
              <span class="movesetTitle">
                Offensive Form Special Cancels 
              </span><br>
              <span class="movesetDesc">
                Unblockable Heavy can be Cancelled into Fomorian Kick.<br>
                Unblockable Heavy can be Cancelled into Caber Toss. <br>
                Kick can be Cancelled into Caber Toss.
              </span>
            </td>
          </tr>             
          <tr>
            <td>
              <span class="movesetTitle">
                (CCC) Celtic Curse Cancels
              </span><br>
              <span class="movesetDesc">
                Cancel in a Left Attack with LS <i class="fa fa-arrow-circle-left"></i> + RT<br>
                Cancel into a Right Attack with LS <i class="fa fa-arrow-circle-right"></i> + RT<br>
                These Attacks have Super Armor.
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <span class="movesetTitle">
                Celtic Curse Chain Starter
              </span><br>
              <span class="movesetDesc">
                Celtic Curse, and the side versions it can Cancel into, can be used to initiate Chains.
              </span>
            </td>
          </tr>                          
        </table>
      </div>
      <div class="col-sm-6">
        <table class="table table-condensed">
          <tr>
            <th colspan="3">Moves (From Guard Mode) LT</th>
          </tr>
          <tr>
            <td><span class="label label-primary">Chain</span></td>
            <td>Tir na nOg (Defensive Form)</td>
            <td>RB, RB, RT</td>
          </tr>	          
          <tr>
            <td><span class="label label-primary">Chain</span></td>
            <td>Lowland Slashes (Defensive Form)</td>
            <td>RB, RT</td>
          </tr>
          <tr>
            <td><span class="label label-primary">Chain</span></td>
            <td>Banshee's Wail (Defensive Form)</td>
            <td>RT, RT</td>
          </tr>
          <tr>
            <td>CCC</td>
            <td>Celtic Curse (Defensive Form)</td>
            <td>LS <i class="fa fa-arrow-circle-up"></i>+ A, RT</td>
          </tr>
          <tr>
            <td></td>
            <td>Enter Offensive Form</td>
            <td>Hold RT</td>
          </tr>
          <tr>
            <td><span class="label label-danger">Unblockable</span></td>
            <td>Balor's Might (Offensive Form)</td>
            <td>Release Rt</td>
          </tr>
          <tr>
            <td><span class="label label-danger">Unblockable</span> <span class="label label-info">Knockdown</span> </td>
            <td>Caber Toss (Offensive Form)</td>
            <td>LS <i class="fa fa-arrow-circle-down"></i>+ X</td>
          </tr>          
          <tr>
            <td><span class="label label-danger">Unblockable</span> <span class="label label-info">Knockdown</span></td>
            <td>Fomorian Kick (Offensive Form)</td>
            <td>X</td>
          </tr>
          <tr>
            <td></td>
            <td>Enhanced Light (Offensive Form)</td>
            <td>RB</td>
          </tr>
          <tr>
            <td></td>
            <td>Offensive Form Emote (Offensive Form)</td>
            <td>Y</td>
          </tr>
          <tr>
            <td></td>
            <td>Sprint Attack (Not in guard mode)</td>
            <td>L3 + RT</td>
          </tr>
        </table>
      </div>
    </div>
  
    <!-- /.row -->
  
    <!-- Footer -->
    <footer>
      <div class="row">
        <div class="col-lg-12">
          <p>Copyright &copy; For Honor Cheatsheet 2017</p>
        </div>
      </div>
    </footer>
  
  </div>
  <!-- /.container -->