<!-- Page Content -->
<div class="container">

	<!-- Page Heading/Breadcrumbs -->
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Warden
				<small>by <a href="#">For Honor Cheatsheet</a>
                    </small>
			</h1>
			<ol class="breadcrumb">
				<li><a href="index.html">Home</a>
				</li>
				<li class="active">Warden</li>
			</ol>
		</div>
	</div>
	<!-- /.row -->

	<!-- Content Row -->
	<div class="row">

		<!-- Blog Post Content Column -->
		<div class="col-lg-12">

			<!-- Blog Post -->

			<hr>

			<!-- Date/Time -->
			<p><i class="fa fa-clock-o"></i> Updated on 3/04/2017</p>

			<hr>

			<!-- Preview Image -->
			<img class="img-responsive" src="http://placehold.it/350x150" alt="Warden Portrait 1">

			<hr>

			<h2>Warden Moveset</h2>
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<table class="table table-condensed">
				<tr>
					<th>Hero Specific</th>
				</tr>
				<tr>
					<td>
						<span class="movesetTitle">Renown</span><br>
						<span class="movesetDesc">
							Earn more Renown in outnumbered fights, by controlling objectives, and by killing enemy soldiers to unlock your feats in a match.
						</span>
					</td>
				</tr>
				<tr>
					<td>
						<span class="movesetTitle"><i class="fa fa-hand-rock-o fa-5x"></i>Revenge Mode</span><br>
						<span class="movesetDesc">
							Boosts Damage and Health.  All Attacks are Uninterruptible.<br>Parry and Throws knock enemies down.<br>Attacks are Auto-Parried on activation.
						</span>
					</td>
				</tr>
				<tr>
					<td>
						<span class="movesetTitle">
							Light Attack Combo
						</span><br>
						<span class="movesetDesc">
							Second Side Light Attack is guaranteed if first one hits.
						</span>
					</td>
				</tr>
				<tr>
					<td>
						<span class="movesetTitle">
							Crushing Counterstrike
						</span><br>
						<span class="movesetDesc">
							Top Light Attack has Superior Block property during the Startup.  Use it to counter attack.  Attack becomes Unblockable after a counter.
						</span>
					</td>
				</tr>							
			</table>
		</div>
		<div class="col-sm-6">
			<table class="table table-condensed">
				<tr>
					<th colspan="3">Moves (From Guard Mode) LT</th>
				</tr>
				<tr>
					<td><span class="label label-primary">Chain</span></td>
					<td>Vanguard's Advance</td>
					<td>RB, RB, RT</td>
				</tr>
				<tr>
					<td><span class="label label-primary">Chain</span></td>					
					<td>Guardian's Assault</td>
					<td>RB, RT</td>
				</tr>
				<tr>
					<td><span class="label label-primary">Chain</span></td>
					<td>Warden's Wrath</td>
					<td>RT, RT</td>
				</tr>
				<tr>
					<td></td>
					<td>Rushing Slash <span class="label label-warning">Not in Guard Mode</span></td>
					<td>L3 + RT</td>
				</tr>
				<tr>
					<td></td>
					<td>Crushing Counterstrike</td>
					<td>RS <i class="fa fa-arrow-circle-up"></i> + RB</td>
				</tr>
				<tr>
					<td><span class="label label-default">Push Back</span> <span class="label label-danger">Unblockable</span></td>
					<td>Shoulder Bash</td>
					<td>LS <i class="fa fa-arrow-circle-up"></i> + A, X (Hold)</td>
				</tr>
				<tr>
					<td><span class="label label-default">Push Back</span> <span class="label label-danger">Unblockable</span></td>
					<td>Shoulder Bash Mix Up</td>
					<td>RB, X*, RB</td>
				</tr>
			</table>
		</div>
	</div>

	<!-- /.row -->

	<!-- Footer -->
	<footer>
		<div class="row">
			<div class="col-lg-12">
				<p>Copyright &copy; For Honor Cheatsheet 2017</p>
			</div>
		</div>
	</footer>

</div>
<!-- /.container -->