<!-- Page Content -->
<div class="container">
  
    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">Gladiator
          <small>by <a href="#">For Honor Cheatsheet</a>
                      </small>
        </h1>
        <ol class="breadcrumb">
          <li><a href="index.html">Home</a>
          </li>
          <li class="active">Gladiator</li>
        </ol>
      </div>
    </div>
    <!-- /.row -->
  
    <!-- Content Row -->
    <div class="row">
  
      <!-- Blog Post Content Column -->
      <div class="col-lg-12">
  
        <!-- Blog Post -->
  
        <hr>
  
        <!-- Date/Time -->
        <p><i class="fa fa-clock-o"></i> Updated on 8/17/2017</p>
  
        <hr>
  
        <!-- Preview Image -->
        <img class="img-responsive" src="http://placehold.it/350x150" alt="Gladiator Portrait 1">
  
        <hr>
  
        <h2>Gladiator Moveset</h2>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <table class="table table-condensed">
          <tr>
            <th>Hero Specific</th>
          </tr>
          <tr>
            <td>
              <span class="movesetTitle">Renown</span><br>
              <span class="movesetDesc">
                Earn more Renown in 1v1 fights, by killing enemy Heroes, and getting killing streaks to unlcok your feats in a match.
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <span class="movesetTitle"><i class="fa fa-hand-rock-o fa-5x"></i>Revenge Mode</span><br>
              <span class="movesetDesc">
                Boosts Damage and Health.  All Attacks are Uninterruptible.<br>Parry and Throws knock enemies down.<br>Attacks are Auto-Parried on activation.
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <span class="movesetTitle">
                Defense: Reflex
              </span><br>
              <span class="movesetDesc">
                Your Guard Stance only remains active for a limited time.
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <span class="movesetTitle">
                Improved Stamina 
              </span><br>
              <span class="movesetDesc">
                Larger stamina meter and faster regeneration.<br>Reduces cool down time.
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <span class="movesetTitle">
                Deflect
              </span><br>
              <span class="movesetDesc">
                Deflect by dodging in the direction of an incoming attack just before impact. <br>
                Deflect can be followed up by Skewer.
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <span class="movesetTitle">
                Zone Attack 
              </span><br>
              <span class="movesetDesc">
                Cancel Zone Attack after the first Attack with B.
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <span class="movesetTitle">
                Bamboozle 
              </span><br>
              <span class="movesetDesc">
                Press X after missing your sprint attack, to throw a punch that Stuns the opponent.
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <span class="movesetTitle">
                Special Fuscina Ictus 
              </span><br>
              <span class="movesetDesc">
                Use your Fuscina Ictus on an enemy that's out of Stamina to unbalance them.
              </span>
            </td>
          </tr>          
          <tr>
            <td>
              <span class="movesetTitle">
                Skewer
              </span><br>
              <span class="movesetDesc">
                The longer the Skewer lasts, the greater the Bleed damage.<br>
                Against a wall, press X to Stun the opponent.<br>
                Press A or B to exit.
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <span class="movesetTitle">
                Skewer Throw
              </span><br>
              <span class="movesetDesc">
                You can throw your opponent while they are Skewered.<br>
                Not effective after Bleed has been applied three times.
              </span>
            </td>
          </tr>
          <tr>
            <td>
              <span class="movesetTitle">
                Chains: Skewer and Fuscina Ictus
              </span><br>
              <span class="movesetDesc">
                Must be used to end a chain or at the end of a chain.
              </span>
            </td>
          </tr>                              
        </table>
      </div>
      <div class="col-sm-6">
        <table class="table table-condensed">
          <tr>
            <th colspan="3">Moves (From Guard Mode) LT</th>
          </tr>
          <tr>
            <td><span class="label label-primary">Chain</span></td>
            <td>The Pest</td>
            <td>RB, RB, RB, RB</td>
          </tr>
          <tr>
            <td><span class="label label-primary">Chain</span></td>
            <td>Neptune's Rage</td>
            <td>RT, RT</td>
          </tr>
          <tr>
            <td><span class="label label-primary">Chain</span></td>
            <td>Wave Rider</td>
            <td>RB, RT</td>
          </tr>
          <tr>
            <td><span class="label label-primary">Chain</span></td>
            <td>Encore</td>
            <td>RB, RB, RT</td>
          </tr>
          <tr>
            <td><span class="label label-primary">Chain</span></td>
            <td>Twist of Fate</td>
            <td>RB, RB, RB, RT</td>
          </tr>
          <tr>
            <td><span class="label label-primary">Chain</span></td>
            <td>Standing Ovation!</td>
            <td>RB, RB, RB, RB, RT</td>
          </tr>
          <tr>
            <td></td>
            <td>Sprint Attack (Not in Guard Mode)</td>
            <td>L3 + RT</td>
          </tr>
          <tr>
            <td></td>
            <td>Bee's Sting</td>
            <td> or  + A, RB</td>
          </tr>
          <tr>
            <td><span class="label label-danger">Unblockable</span> <span class="label label-success">Stun</span></td>
            <td>Sucker Punch</td>
            <td>LS <i class="fa fa-arrow-circle-up"></i>, LS <i class="fa fa-arrow-circle-left"></i> or LS <i class="fa fa-arrow-circle-right"></i> + A, X</td>
          </tr>
          <tr>
            <td><span class="label label-danger">Unblockable</span> <span class="label label-success">Stun</span></td>
            <td>Cheap Shot</td>
            <td>LS <i class="fa fa-arrow-circle-up"></i>, LS <i class="fa fa-arrow-circle-left"></i> or LS <i class="fa fa-arrow-circle-right"></i> + A, X, RT</td>
          </tr>
          <tr>
            <td><span class="label label-danger">Unblockable</span></td>
            <td>Fuscina Ictus</td>
            <td>LS <i class="fa fa-arrow-circle-down"></i>+ X</td>
          </tr>
          <tr>
            <td><span class="label label-danger">Unblockable</span> <span class="label label-danger">Bleed</span></td>
            <td>Skewer used in chains</td>
            <td>LS <i class="fa fa-arrow-circle-down"></i>+ RT</td>
          </tr>
          <tr>
            <td><span class="label label-danger">Unblockable</span> <span class="label label-danger">Bleed</span> <span class="label label-danger">Uninterruptible</span></td>
            <td>Skewer Deflect</td>
            <td>Deflect, RT</td>
          </tr>
          <tr>
            <td><span class="label label-danger">Unblockable</span> <span class="label label-danger">Bleed</span><span class="label label-default">Push Back</span></td>
            <td>Skewer Throw</td>
            <td>LS <i class="fa fa-arrow-circle-down"></i>+ RT, X</td>
          </tr>
          <tr>
            <td><span class="label label-danger">Unblockable</span> <span class="label label-success">Stun</span> </td>
            <td>Counter Jab</td>
            <td>Parry, X</td>
          </tr>
          <tr>
            <td><span class="label label-danger">Unblockable</span> <span class="label label-success">Stun</span> </td>
            <td>Counter Jab Heavy</td>
            <td>Parry, X, RT</td>
          </tr>          
        </table>
      </div>
    </div>
  
    <!-- /.row -->
  
    <!-- Footer -->
    <footer>
      <div class="row">
        <div class="col-lg-12">
          <p>Copyright &copy; For Honor Cheatsheet 2017</p>
        </div>
      </div>
    </footer>
  
  </div>
  <!-- /.container -->