<!-- Page Content -->
<div class="container">

	<!-- Page Heading/Breadcrumbs -->
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Warlord
				<small>by <a href="#">For Honor Cheatsheet</a>
                    </small>
			</h1>
			<ol class="breadcrumb">
				<li><a href="index.html">Home</a>
				</li>
				<li class="active">Warlord</li>
			</ol>
		</div>
	</div>
	<!-- /.row -->

	<!-- Content Row -->
	<div class="row">

		<!-- Blog Post Content Column -->
		<div class="col-lg-12">

			<!-- Blog Post -->

			<hr>

			<!-- Date/Time -->
			<p><i class="fa fa-clock-o"></i> Updated on 2/18/2017</p>

			<hr>

			<!-- Preview Image -->
			<img class="img-responsive" src="http://placehold.it/350x150" alt="Warlord Portrait 1">

			<hr>

			<h2>Warlord Moveset</h2>
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<table class="table table-condensed">
				<tr>
					<th>Hero Specific</th>
				</tr>
				<tr>
					<td>
						<span class="movesetTitle">Renown</span><br>
						<span class="movesetDesc">
							Earn Renown by assisting or saving Heroes, and defending objectives to unlock your feats in a match.
						</span>
					</td>
				</tr>
				<tr>
					<td>
						<span class="movesetTitle"><i class="fa fa-hand-rock-o fa-5x"></i>Revenge Mode</span><br>
						<span class="movesetDesc">
							Boosts Damage and Health.  All Attacks are Uninterruptible.<br>Parry and Throws knock enemies down.<br>Attacks are Auto-Parried on activation.
						</span>
					</td>
				</tr>
				<tr>
					<td>
						<span class="movesetTitle">
							Superior Block Light Attacks
						</span><br>
						<span class="movesetDesc">
							Light Attacks have Superior Block property during the Startup.  Use it to counter attacks.
						</span>
					</td>
				</tr>
				<tr>
					<td>
						<span class="movesetTitle">
							Uninterruptible Heavy Attacks
						</span><br>
						<span class="movesetDesc">
							Heavy Attacks are Uninterruptible during the Startup.  Time them well to trade blows with the enemy.
						</span>
					</td>
				</tr>
				<tr>
					<td>
						<span class="movesetTitle">
							Full Block Stance
						</span><br>
						<span class="movesetDesc">
							Block Attacks from all directions.  Requires Stamina to activate.  Drains Stamina when started and when you Block.
						</span>
					</td>
				</tr>								
			</table>
		</div>
		<div class="col-sm-6">
			<table class="table table-condensed">
				<tr>
					<th colspan="3">Moves (From Guard Mode) LT</th>
				</tr>
				<tr>
					<td><span class="label label-primary">Chain</span></td>
					<td>Focused Strikes</td>
					<td>RB, RT</td>
				</tr>
				<tr>
					<td><span class="label label-primary">Chain</span></td>
					<td>Hack and Slash</td>
					<td>RT, RB</td>
				</tr>
				<tr>
					<td><span class="label label-default">Push Back</span></td>
					<td>Crashing Charge <span class="label label-warning">Not in Guard Mode</span></td>
					<td>L3 + X</td>
				</tr>
				<tr>
					<td><span class="label label-danger">Uninterruptible</span></td>
					<td>Headsplitter Leap <span class="label label-warning">Not in Guard Mode</span></td>
					<td>L3 + RT</td>
				</tr>
				<tr>
					<td><span class="label label-danger">Uninterruptible</span></td>
					<td>Headsplitter Leap Alternative</td>
					<td>LS <i class="fa fa-arrow-circle-up"></i> + A, RT</td>
				</tr>
				<tr>
					<td><span class="label label-danger">Uninterruptible</span></td>
					<td>Headsplitter Leap Combo</td>
					<td>LS <i class="fa fa-arrow-circle-up"></i> + A, RT, X*, RB</td>
				</tr>
				<tr>
					<td></td>
					<td>Board and Blade</td>
					<td>RS <i class="fa fa-arrow-circle-down"></i>, RT</td>
				</tr>
				<tr>
					<td></td>
					<td>Block and Stab</td>
					<td>RS <i class="fa fa-arrow-circle-down"></i>, BLOCK, RB</td>
				</tr>
				<tr>
					<td><span class="label label-danger">Unblockable</span> <span class="label label-success">Stun</span></td>
					<td>Shield Counter</td>
					<td>Parry, X</td>
				</tr>
				<tr>
					<td><span class="label label-danger">Unblockable</span> <span class="label label-success">Stun</span></td>
					<td>Shield Counter Combo</td>
					<td>Parry, X, RB</td>
				</tr>
				<tr>
					<td><span class="label label-danger">Unblockable</span> <span class="label label-default">Push Back</span></td>
					<td>Headbutt</td>
					<td>LS <i class="fa fa-arrow-circle-up"></i> + A, X</td>
				</tr>
				<tr>
					<td><span class="label label-danger">Unblockable</span> <span class="label label-default">Push Back</span></td>
					<td>Headbutt Riposte</td>
					<td>RS <i class="fa fa-arrow-circle-down"></i>, X</td>
				</tr>
				<tr>
					<td><span class="label label-danger">Unblockable</span> <span class="label label-default">Push Back</span></td>
					<td>Headbutt Combo</td>
					<td>RS <i class="fa fa-arrow-circle-down"></i>, X*, RB</td>
				</tr>
				<tr>
					<td><i class="fa fa-shield" aria-hidden="true"></i></td>
					<td>Full Block Stance</td>
					<td>RS <i class="fa fa-arrow-circle-down"></i></td>
				</tr>
			</table>
		</div>
	</div>

	<!-- /.row -->

	<!-- Footer -->
	<footer>
		<div class="row">
			<div class="col-lg-12">
				<p>Copyright &copy; For Honor Cheatsheet 2017</p>
			</div>
		</div>
	</footer>

</div>
<!-- /.container -->