<!-- Page Content -->
<div class="container">

	<!-- Page Heading/Breadcrumbs -->
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Centurion
				<small>by <a href="#">For Honor Cheatsheet</a>
                    </small>
			</h1>
			<ol class="breadcrumb">
				<li><a href="index.html">Home</a>
				</li>
				<li class="active">Centurion</li>
			</ol>
		</div>
	</div>
	<!-- /.row -->

	<!-- Content Row -->
	<div class="row">

		<!-- Blog Post Content Column -->
		<div class="col-lg-12">

			<!-- Blog Post -->

			<hr>

			<!-- Date/Time -->
			<p><i class="fa fa-clock-o"></i> Updated on 2/18/2017</p>

			<hr>

			<!-- Preview Image -->
			<img class="img-responsive" src="http://placehold.it/350x150" alt="Centurion Portrait 1">

			<hr>

			<h2>Centurion Moveset</h2>
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<table class="table table-condensed table-striped">
				<tr>
					<th>Hero Specific</th>
				</tr>
				<tr>
					<td>
						<span class="movesetTitle">Renown</span><br>
						<span class="movesetDesc">
							Rewnown is balanced across activities.
						</span>
					</td>
				</tr>
				<tr>
					<td>
						<span class="movesetTitle"><i class="fa fa-hand-rock-o fa-5x"></i>Revenge Mode</span><br>
						<span class="movesetDesc">
							Boosts Damage and Health.  All Attacks are Uninterruptible.<br>Parry and Throws knock enemies down.<br>Attacks are Auto-Parried on activation.
						</span>
					</td>
				</tr>
				<tr>
					<td>
						<span class="movesetTitle">
              Knockback Kick
						</span><br>
						<span class="movesetDesc">
              Press X after any Throw to follow up with a Kick for additional Knockback and Stun
						</span>
					</td>
				</tr>
				<tr>
					<td>
						<span class="movesetTitle">
              Imperial Might
						</span><br>
						<span class="movesetDesc">
              Hold RT to finish a chain with an Unblockable Attack.  Quick Throw and Kick can be followed by Imperial Might
						</span>
					</td>
				</tr>        
				<tr>
					<td>
						<span class="movesetTitle">
              Lion's Pounce
						</span><br>
						<span class="movesetDesc">
              Lnading a charged Heavy Attack will momentarily pin your opponent.  Allows you to safely charge a jab.
						</span>
					</td>
				</tr>        
				<tr>
					<td>
						<span class="movesetTitle">
              Eagel's Talons
						</span><br>
						<span class="movesetDesc">
              Use your Jump Attack on Unbalanced enemies for extra damage.  Press RT near an Unbalanced enemy to trigger Jump Attack.
						</span>
					</td>
				</tr>        
			</table>
		</div>
		<div class="col-sm-6">
			<table class="table table-condensed table-striped">
				<tr>
					<th colspan="3">Moves (From Guard Mode) LT</th>
				</tr>
				<tr>
					<td></td>
					<td>Charged Heavy</td>
					<td>Hold/Release RT</td>
				</tr>        
        <tr>
          <td><span class="label label-primary">Chain</span></td>
          <td>Lion's Claws</td>
          <td>RB, RB, RB</td>
        </tr>  
        <tr>
          <td><span class="label label-primary">Chain</span></td>
          <td>Lion's Fangs</td>
          <td>RB, RB, RT</td>
        </tr>
        <tr>
          <td><span class="label label-primary">Chain</span></td>
          <td>Lion's Bite</td>
          <td>RT, RT</td>
        </tr>
        <tr>
          <td></td>
          <td>Eagle's Fury</td>
          <td>R3 + RT</td>
        </tr>      
        <tr>
          <td></td>
          <td>Eagle's Fury Alternate</td>
          <td>LS <i class="fa fa-arrow-circle-up"></i> + A, RT</td>
        </tr>
        <tr>
          <td><span class="label label-danger">Unblockable</span> <span class="label label-default">Push Back</span></td>
          <td>Legion Kick</td>
          <td>LS <i class="fa fa-arrow-circle-up"></i> + A, X</td>
        </tr>
        <tr>
          <td><span class="label label-danger">Unblockable</span> <span class="label label-default">Push Back</span></td>
          <td>Jab</td>
          <td>RT Hit or Block, X Hold/Release</td>
        </tr>
        <tr>
          <td><span class="label label-danger">Unblockable</span> <span class="label label-info">Knockdown</span></td>
          <td>Charged Jab</td>
          <td>RT Hit or Block, X Hold</td>
        </tr>
        <tr>
          <td></td>
          <td>Jab Combo</td>
          <td>RT Hit or Block, X*, RB</td>
        </tr>
        <tr>
          <td><span class="label label-default">Push Back</span></td>
          <td>Quick Throw</td>
          <td>RB*, X</td>
        </tr>
        <tr>
          <td></td>
          <td>Lion's Roar</td>
          <td>X*, RB, RB, RB</td>
        </tr>
        <tr>
          <td><span class="label label-danger">Unblockable</span> <span class="label label-default">Push Back</span></td>
          <td>Parry Counter</td>
          <td>Parry, X</td>
        </tr>
			</table>
		</div>
	</div>

	<!-- /.row -->

	<!-- Footer -->
	<footer>
		<div class="row">
			<div class="col-lg-12">
				<p>Copyright &copy; For Honor Cheatsheet 2017</p>
			</div>
		</div>
	</footer>

</div>
<!-- /.container -->