<!-- Page Content -->
<div class="container">

	<!-- Page Heading/Breadcrumbs -->
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Conqueror
				<small>by <a href="#">For Honor Cheatsheet</a>
                    </small>
			</h1>
			<ol class="breadcrumb">
				<li><a href="index.html">Home</a>
				</li>
				<li class="active">Conqueror</li>
			</ol>
		</div>
	</div>
	<!-- /.row -->

	<!-- Content Row -->
	<div class="row">

		<!-- Blog Post Content Column -->
		<div class="col-lg-12">

			<!-- Blog Post -->

			<hr>

			<!-- Date/Time -->
			<p><i class="fa fa-clock-o"></i> Updated on 2/18/2017</p>

			<hr>

			<!-- Preview Image -->
			<img class="img-responsive" src="http://placehold.it/350x150" alt="Conqueror Portrait 1">

			<hr>

			<h2>Conqueror Moveset</h2>
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<table class="table table-condensed">
				<tr>
					<th>Hero Specific</th>
				</tr>
				<tr>
					<td>
						<span class="movesetTitle">Renown</span><br>
						<span class="movesetDesc">
							Earn more Renown by assisting or saving Heroes, and defending objectives to unlock your feats in a match.
						</span>
					</td>
				</tr>
				<tr>
					<td>
						<span class="movesetTitle"><i class="fa fa-hand-rock-o fa-5x"></i>Revenge Mode</span><br>
						<span class="movesetDesc">
							Boosts Damage and Health.  All Attacks are Uninterruptible.<br>Parry and Throws knock enemies down.<br>Attacks are Auto-Parried on activation.
						</span>
					</td>
				</tr>
				<tr>
					<td>
						<span class="movesetTitle">
							Charged Attacks
						</span><br>
						<span class="movesetDesc">
							The Attack has 2 charging levels.  Each charge level deals more damage.
						</span>
					</td>
				</tr>
				<tr>
					<td>
						<span class="movesetTitle">
							Charge Attack Limits		
						</span><br>
						<span class="movesetDesc">
							You can't charge if you run out of Stamina.  Cancel a charge by pressing B.
						</span>
					</td>
				</tr>	
				<tr>
					<td>
						<span class="movesetTitle">
							Superior Block
						</span><br>
						<span class="movesetDesc">
							Blocks interrupt Heavy Attacks as well as Light Attacks.  Opponent cannot chain after being Blocked.
						</span>
					</td>
				</tr>				
				<tr>
					<td>
						<span class="movesetTitle">
							Superior Block Heavy Attacks		
						</span><br>
						<span class="movesetDesc">
							Heavy Attacks have Superior Block property during the Startup.  Use it to counter attack.
						</span>
					</td>
				</tr>							
				<tr>
					<td>
						<span class="movesetTitle">
							Full Block Stance		
						</span><br>
						<span class="movesetDesc">
							Block all 3 guards without Superior Block property.  Consume Stamina on activation and Block.  Conqueror knocked off balance if a Block empties Stamina.
						</span>
					</td>
				</tr>				
				<tr>
					<td>
						<span class="movesetTitle">
							Can't Feint		
						</span><br>
						<span class="movesetDesc">
							Contrary to other Heroes, the Conqueror can't perform Feint maneuvers.
						</span>
					</td>
				</tr>				
				<tr>
					<td>
						<span class="movesetTitle">
							Zone Attack		
						</span><br>
						<span class="movesetDesc">
							Zone Attacks can be maintained to keep opponents at a distance.
						</span>
					</td>
				</tr>				
			</table>
		</div>
		<div class="col-sm-6">
			<table class="table table-condensed">
				<tr>
					<th colspan="3">Moves (From Guard Mode) LT</th>
				</tr>
				<tr>
					<td></td>
					<td>Charging Heavy Attack</td>
					<td>Hold RT</td>
				</tr>
				<tr>
					<td><span class="label label-primary">Chain</span></td>
					<td>Conscript's Attrition</td>
					<td>&#x221e; RB</td>
				</tr>
				<tr>
					<td><span class="label label-primary">Chain</span></td>
					<td>Final Argument</td>
					<td>RB, RB, RT</td>
				</tr>
				<tr>
					<td><span class="label label-primary">Chain</span></td>
					<td>Reaper's Crush</td>
					<td>RT, RT</td>
				</tr>
				<tr>
					<td><i class="fa fa-shield" aria-hidden="true"></i></td>
					<td>Full Block Stance</td>
					<td>RS <i class="fa fa-arrow-circle-down"></i></td>
				</tr>
				<tr>
					<td><span class="label label-danger">Unblockable</span> <span class="label label-info">Knockdown</span></td>
					<td>Charging Shield Crush <span class="label label-warning">Not in Guard Mode</span></td>
					<td>L3+ X</td>
				</tr>
				<tr>
					<td><span class="label label-danger">Unblockable</span> <span class="label label-default">Push Back</span></td>
					<td>Shield Bash</td>
					<td>LS <i class="fa fa-arrow-circle-left"></i> or LS <i class="fa fa-arrow-circle-up"></i> or LS <i class="fa fa-arrow-circle-down"></i> + A, X</td>
				</tr>
				<tr>
					<td><span class="label label-danger">Unblockable</span> <span class="label label-default">Push Back</span></td>
					<td>Shield Bash Mix Up</td>
					<td>RT, X</td>
				</tr>
				<tr>
					<td><span class="label label-danger">Unblockable</span> <span class="label label-default">Push Back</span></td>
					<td>Shield Bash Riposte</td>
					<td>RS <i class="fa fa-arrow-circle-down"></i>, X</td>
				</tr>
			</table>
		</div>
	</div>

	<!-- /.row -->

	<!-- Footer -->
	<footer>
		<div class="row">
			<div class="col-lg-12">
				<p>Copyright &copy; For Honor Cheatsheet 2017</p>
			</div>
		</div>
	</footer>

</div>
<!-- /.container -->