<!-- Page Content -->
<div class="container">

	<!-- Page Heading/Breadcrumbs -->
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Shinobi
				<small>by <a href="#">For Honor Cheatsheet</a>
                    </small>
			</h1>
			<ol class="breadcrumb">
				<li><a href="index.html">Home</a>
				</li>
				<li class="active">Shinobi</li>
			</ol>
		</div>
	</div>
	<!-- /.row -->

	<!-- Content Row -->
	<div class="row">

		<!-- Blog Post Content Column -->
		<div class="col-lg-12">

			<!-- Blog Post -->

			<hr>

			<!-- Date/Time -->
			<p><i class="fa fa-clock-o"></i> Updated on 2/18/2017</p>

			<hr>

			<!-- Preview Image -->
			<img class="img-responsive" src="http://placehold.it/350x150" alt="Shinobi Portrait 1">

			<hr>

			<h2>Shinobi Moveset</h2>
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6">
			<table class="table table-condensed table-striped">
				<tr>
					<th>Hero Specific</th>
				</tr>
				<tr>
					<td>
						<span class="movesetTitle">Renown</span><br>
						<span class="movesetDesc">
							Earn more Renown in 1v1 fights, by killing enemy Heroes, and getting killing streaks to unlock your feats in a match.
						</span>
					</td>
				</tr>
				<tr>
					<td>
						<span class="movesetTitle"><i class="fa fa-hand-rock-o fa-5x"></i>Revenge Mode</span><br>
						<span class="movesetDesc">
							Boosts Damage and Health.  All Attacks are Uninterruptible.<br>Parry and Throws knock enemies down.<br>Attacks are Auto-Parried on activation.
						</span>
					</td>
				</tr>
				<tr>
					<td>
						<span class="movesetTitle">
							Defense: Reflext
						</span><br>
						<span class="movesetDesc">
							Your Guard Stance only remains active for a limited time.
						</span>
					</td>
				</tr>
				<tr>
					<td>
						<span class="movesetTitle">
							Light Attack Combo		
						</span><br>
						<span class="movesetDesc">
							Shadow Dancer: Second Light Attack is guaranteed if first one hits.<br>
							Ghoul's Rage: Light Attack is guaranteed if the heavy hits.
						</span>
					</td>
				</tr>			
				<tr>
					<td>
						<span class="movesetTitle">
							Charge
						</span><br>
						<span class="movesetDesc">
							The Attack has 2 charging levels.  The higher the lveel the more range your attack has.
						</span>
					</td>
				</tr>					
				<tr>
					<td>
						<span class="movesetTitle">
							Charge Limitations		
						</span><br>
						<span class="movesetDesc">
							If you are out of Stamina, you cannot charge.<br>
							You can Dodge during the charge or Cancel it by pressing B.<br>
							When blocked, the charge is always interrupted.
						</span>
					</td>
				</tr>		
				<tr>
					<td>
						<span class="movesetTitle">
							Charged Attack		
						</span><br>
						<span class="movesetDesc">
							If parried by an opponent you will be unbalanced.
						</span>
					</td>
				</tr>						
				<tr>
					<td>
						<span class="movesetTitle">
							Deflect		
						</span><br>
						<span class="movesetDesc">
							Deflect by dodging in the direction of an attack just before impact.<br>
							Deflecting teleports you behind the opponent and inflicts Bleed.<br>
							It can be followed-up by a Kick or RB.
						</span>
					</td>
				</tr>				
				<tr>
					<td>
						<span class="movesetTitle">
							Super Sprint		
						</span><br>
						<span class="movesetDesc">
							Consumes Stamina.<br>
							While super sprinting, press L3 to go back to sprint.
						</span>
					</td>
				</tr>				
				<tr>
					<td>
						<span class="movesetTitle">
							Double Dodge		
						</span><br>
						<span class="movesetDesc">
							Cancel your Dodge by performing another Dodge<br>
							Cannot Cancel a back dodge by another back dodge.
						</span>
					</td>
				</tr>				
				<tr>
					<td>
						<span class="movesetTitle">
							Grab		
						</span><br>
						<span class="movesetDesc">
							If reversed by an opponent you will be unbalanced.
						</span>
					</td>
				</tr>				
				<tr>
					<td>
						<span class="movesetTitle">
							Kick Mix up		
						</span><br>
						<span class="movesetDesc">
							Surprise your enemy by launching a Kick.
						</span>
					</td>
				</tr>				
			</table>
		</div>
		<div class="col-sm-6">
			<table class="table table-condensed table-striped">
				<tr>
					<th colspan="3">Moves (From Guard Mode) LT</th>
				</tr>
				<tr>
					<td><span class="label label-primary">Chain</span></td>
					<td>Shadow Dancer</td>
					<td>RB, RB</td>
				</tr>
				<tr>
					<td><span class="label label-primary">Chain</span> <span class="label label-danger">Bleed</span></td>
					<td>Sickle Rain</td>
					<td>RT, RT, RB, RB, RB</td>
				</tr>
				<tr>
					<td><span class="label label-primary">Chain</span></td>
					<td>Ghoul's Rage</td>
					<td>RT, RB</td>
				</tr>
				<tr>
					<td><span class="label label-primary">Chain</span></td>
					<td>Spider Silk Whip</td>
					<td>Hold/Release RT, RT</td>
				</tr>
				<tr>
					<td><span class="label label-danger">Unblockable</span> <span class="label label-info">Knockdown</span></td>
					<td>Tackle</td>
					<td>L3 + X</td>
				</tr>
				<tr>
					<td></td>
					<td>Super Sprint</td>
					<td>L3, L3</td>
				</tr>
				<tr>
					<td></td>
					<td>Charge</td>
					<td>Hold RT</td>
				</tr>
				<tr>
					<td></td>
					<td>Charged Heavy</td>
					<td>Hold/Release RT</td>
				</tr>
				<tr>
					<td></td>
					<td>Grab</td>
					<td>Hold RT, X</td>
				</tr>
				<tr>
					<td><span class="label label-danger">Unblockable</span> <span class="label label-danger">Bleed</span></td>
					<td>Sickle Rain Mixup</td>
					<td>Hold RT, X, RT, RB, RB, RB</td>
				</tr>
				<tr>
					<td></td>
					<td>Charged Kick Mix Up</td>
					<td>Kick, RT</td>
				</tr>
				<tr>
					<td></td>
					<td>Grab Kick Mix Up</td>
					<td>Kick, X</td>
				</tr>
				<tr>
					<td></td>
					<td>Front Roll</td>
					<td>Hold/Release RT, A</td>
				</tr>
				<tr>
					<td><span class="label label-danger">Unblockable</span> <span class="label label-default">Push Back</span></td>
					<td>Front Roll Kick</td>
					<td>Hold/Release RT, A, X</td>
				</tr>
				<tr>
					<td></td>
					<td>Crushing Front Roll</td>
					<td>Hold/Release RT, A, RT</td>
				</tr>
				<tr>
					<td></td>
					<td>Back Flip</td>
					<td>RB or RT or Kick, A</td>
				</tr>
				<tr>
					<td></td>
					<td>Crushing Back Flip</td>
					<td>RB or RT or Kick, A, RT</td>
				</tr>
				<tr>
					<td></td>
					<td>Back Flip Grab</td>
					<td>RB or RT or Kick, A, X</td>
				</tr>
				<tr>
					<td></td>
					<td>Double Dodge</td>
					<td>A, A</td>
				</tr>
				<tr>
					<td><span class="label label-danger">Unblockable</span> <span class="label label-default">Push Back</span></td>
					<td>Double Dodge Kick</td>
					<td>A, A, X</td>
				</tr>
				<tr>
					<td></td>
					<td>Double Dodge Light Attack</td>
					<td>A, A, RB</td>
				</tr>
				<tr>
					<td></td>
					<td>Double Dodge Heavy Attack</td>
					<td>A, A, RT</td>
				</tr>
				<tr>
					<td><span class="label label-danger">Unblockable</span> <span class="label label-default">Push Back</span></td>
					<td>Teleport Kick</td>
					<td>Deflect, X</td>
				</tr>
				<tr>
					<td></td>
					<td>Teleport Light Attack</td>
					<td>Deflect, RB</td>
				</tr>
				<tr>
					<td><span class="label label-danger">Bleed</span></td>
					<td>Shadow Strike</td>
					<td>Parry, RB</td>
				</tr>
			</table>
		</div>
	</div>

	<!-- /.row -->

	<!-- Footer -->
	<footer>
		<div class="row">
			<div class="col-lg-12">
				<p>Copyright &copy; For Honor Cheatsheet 2017</p>
			</div>
		</div>
	</footer>

</div>
<!-- /.container -->