<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Orochi
                <small>by <a href="#">For Honor Cheatsheet</a>
                    </small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="index.html">Home</a>
                </li>
                <li class="active">Orochi</li>
            </ol>
        </div>
    </div>
    <!-- /.row -->

    <!-- Content Row -->
    <div class="row">

        <!-- Blog Post Content Column -->
        <div class="col-lg-12">

            <!-- Blog Post -->

            <hr>

            <!-- Date/Time -->
            <p><i class="fa fa-clock-o"></i> Updated on 2/18/2017</p>

            <hr>

            <!-- Preview Image -->
            <img class="img-responsive" src="../../../src/images/orochi_portrait_1.png" alt="Orochi Portrait 1">

            <hr>

            <h2>Orochi Moveset</h2>
            <hr>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <table class="table table-condensed">
                    <tr>
                        <th>Hero Specific</th>
                    </tr>
                    <tr>
                        <td>
                            <span class="movesetTitle">Renown</span><br>
                            <span class="movesetDesc">Earn more Renown in 1v1 fights, by killing enemy Heroes, and getting Killing streaks to unlock your feats in a match.</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="movesetTitle"><i class="fa fa-hand-rock-o fa-5x"></i>Revenge Mode</span><br>
                            <span class="movesetDesc">Boosts Damage and Health.  All Attacks are Uninterruptible.<br>Parry and Throws knock enemies down.<br>Attacks are Auto-Parried on activation.</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="movesetTitle">Defense: Reflex</span><br>
                            <span class="movesetDesc">Your Guard Stance only remains active for a limited time.</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="movesetTitle">Deflect</span><br>
                            <span class="movesetDesc">Deflect by dodging in the direction of an incoming attack just before impact.<br>Deflect can be followed-up by Wind Gust or Hurricane Blast</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="movesetTitle">Top Light Attack Combo</span><br>
                            <span class="movesetDesc">Your second Top Light Attack is guaranteed if the first one hits.</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="movesetTitle">Hurricane Blast Cancel</span><br>
                            <span class="movesetDesc">Cancel out of a Hurricane Blast with Wind Gust, Guardbreak or Dodge.</span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-sm-6">
                <table class="table table-condensed">
                    <tr>
                        <th colspan="3">Moves (From Guard Mode) LT</th>
                    </tr>
                    <tr>
                        <td><span class="label label-primary">Chain</span></td>
                        <td>Crosswind Slashes</td>
                        <td>RB, RB, RB</td>
                    </tr>
                    <tr>
                        <td><span class="label label-primary">Chain</span></td>
                        <td>Lightning Strikes Twice</td>
                        <td>RT, RT</td>
                    </tr>
                    <tr>
                        <td><span class="label label-primary">Chain</span></td>
                        <td>Tidal Wave Slashes</td>
                        <td>RT, RB, RB</td>
                    </tr>
                    <tr>
                        <td><span class="label label-warning">Not in Guard Mode</span></td>
                        <td>Crashing Wave</td>
                        <td>L3 + RT</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Riptide Strike</td>
                        <td>LS <i class="fa fa-arrow-circle-down"></i> + RS <i class="fa fa-arrow-circle-up"></i> + RT</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Storm Rush</td>
                        <td>LS <i class="fa fa-arrow-circle-down"></i> + A, HOLD RT</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Lightning Strike</td>
                        <td>LS <i class="fa fa-arrow-circle-up"></i> + A, RB</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Zephyr Slash</td>
                        <td>LS <i class="fa fa-arrow-circle-left"></i> or LS <i class="fa fa-arrow-circle-right"></i> + A, RB</td>
                    </tr>
                    <tr>
                        <td><span class="label label-danger">Unblockable</span></td>
                        <td>Wind Gust</td>
                        <td>Deflect, RB</td>
                    </tr>
                    <tr>
                        <td><span class="label label-danger">Unblockable</span></td>
                        <td>Hurricane Blast</td>
                        <td>Deflect, RT</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <!-- /.row -->

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Copyright &copy; For Honor Cheatsheet 2017</p>
            </div>
        </div>
    </footer>

</div>
<!-- /.container -->